[id^=refreshed] br {
    display: none;
}

.vertical-progress {
	transform: rotate(-90deg);
	max-width: 100px;
}

.online_servers {
	width: 100%;
}
.online_servers .name img {
	margin-right: 4px;
}
.online_servers td {
	padding: 3px 10px !important;
}
.online_servers a
{
	color: #fff;
}
.online_servers a:hover
{
	color: rgba(255, 255, 255, 0.6);
}
.online_servers [id^=refreshed]
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.online_servers [id^=refreshed] div
{
	display: inline-block;
	white-space: nowrap;
}

.online_servers .name,
.online_servers #gamelink {
	display: inline-block;
}

@media (max-width: 500px) {
	.serverstatus .info-box-icon {
		display: none;
	}
}

.serverstatus .server-infos > div {
	line-height: 1.2rem;
}

.serverstatus .server-name {
    font-weight: bold;
	margin-bottom: 0.3rem;
}