.main .log .table:first-of-type {
	margin-bottom: 0px;
}

.main .log b table {
	width: 100%;
}	

.main .log b table td:not(:last-of-type){
	width: 60px !important;
	text-align: center;
}

input.form-control {
	width: 46px;
	min-width: 46px;
}

[id^="refreshed"] td:not(:last-of-type) {
	width: 58px;
	min-width: 58px;
}

select[name="action"] {
    width: auto;
}

.main .log {
	padding: 0px;
}

.center td:not(:nth-last-child(1)):not(:nth-last-child(2)) {
    width: 1px;
}

/* table responsive */
[id^="refreshed"] {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}