.main [href="?m=simple-billing&p=cart"] > img {
	display: none;
}
.main [href="?m=simple-billing&p=cart"] .fa {
	margin-right: 5px;
}

.shop-item {
	display: inline-block;
	margin-bottom: 0.5rem !important;
	flex-grow: 1;
	width: calc(100% * (1/4) - 0.5rem - 1px);
	max-width: calc(100% * (1/4) - 0.5rem - 1px);
}
.shop-item + .shop-item {
	margin-left: 0.5rem;
}
.shop-item:nth-child(5) {
	margin-left: 0;
}

.widget-user .widget-user-image {
	position: absolute;
	top: 25% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	left: 0 !important;
	right: 0 !important;
	text-align: center !important;
}

.widget-user .widget-user-image > img {
    width: 180px !important;
}

.widget-user .widget-user-username {
	line-height: 0.9;
}

.shop-item:hover {
	cursor: pointer;
}
.shop-item:hover {
	cursor: pointer;
}
.shop-item:hover .widget-user-image img {
	width: 190px !important;
}
.shop-item:hover .widget-user-image {
	top: 23% !important;
}