li.faqblock {
	list-style: none;
	display: inline-block;
}

#count + #count {
    display: none;
}

.maincategory,
.category {
	font-size: 1.4rem;
}

.category {
    margin-top: 2rem;
}
#accordion > .card {
    margin-left: 1rem;
}
#accordion > .card > a {
    color: inherit !important;
}

input#search {
	max-width: 250px;
	display: inline-block;
}

.main .footer {
	margin-top: 3rem;
	font-size: 0.8rem;
	color: var(--secondary);
}