/* .main .footer { */
	/* font-size: 80%; */
	/* margin-top: 50px; */
/* } */

/* .main > .footer > div:nth-child(1) { */
	/* display: inline-block !important; */
/* } */

/* .main > .footer > .credits { */
	/* display: inline-block !important; */
	/* margin-left: 20px; */
/* } */

/* .main .maincategory, */
/* .main .category */
/* { */
	/* text-transform: uppercase; */
	/* padding-bottom: 10px; */
	/* font-size: 24px; */
	/* font-weight: 300; */
	/* margin-top: 20px; */
/* } */
/* .main .maincategory > img, */
li.faqblock {
	list-style: none;
	display: inline-block;
}

#count + #count {
    display: none;
}

.maincategory,
.category {
	font-size: 1.4rem;
}

.category {
    margin-top: 2rem;
}
#accordion > .card {
    margin-left: 1rem;
}

input#search {
	max-width: 250px;
	display: inline-block;
}

.main .footer {
	margin-top: 3rem;
	font-size: 0.8rem;
	color: var(--secondary);
}