select[name="ip"],
input[name="port"]
{
	max-width: 200px;
	display: inline-block;
	margin: 0px 10px;
}

#cpu_select span {
	margin-right: 10px;
}

td.left select,
td.left input {
    display: inline-block;
    width: auto;
    margin-right: 1rem;
}

td.right {
    font-weight: bold;
}

td.info {
    color: var(--info);
}