.main .btn:not([name="update"]),
.main .loading {
	float: right;
}

.btn,
.badge {
	margin: 0px 5px !important;
}

.uninstall,
.install,
.remove,
.badge {
	min-width: 75px;
}

.badge {
	font-weight: normal !important;
}